<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.mesan.faghelgapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name="no.mesan.faghelg.FaghelgApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity android:name="no.mesan.faghelg.view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="no.mesan.faghelg.view.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" />

        <activity
            android:name="no.mesan.faghelg.view.program.EventPagerActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.Transparent" />

        <activity android:name="no.mesan.faghelg.view.message.MessageActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- GCM -->
        <receiver
            android:name="no.mesan.faghelg.service.push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="no.mesan.thomasp.faghelg.android" />
            </intent-filter>
        </receiver>

        <service android:name="no.mesan.faghelg.service.push.GcmIntentService" />
    </application>

</manifest>