<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.mesan.faghelgapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="no.mesan.faghelg.FaghelgApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="no.mesan.faghelg.view.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.mesan.faghelg.view.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="no.mesan.faghelg.view.program.EventPagerActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="no.mesan.faghelg.view.message.MessageActivity" />
    </application>

</manifest>